<IfModule php_module>
    php_value upload_max_filesize 5M
    php_value post_max_size 20M
    php_value max_file_uploads 5
    php_flag display_errors Off
    php_flag log_errors On
</IfModule>
<IfModule php7_module>
    php_value upload_max_filesize 5M
    php_value post_max_size 20M
    php_value max_file_uploads 5
    php_flag display_errors Off
    php_flag log_errors On
</IfModule>
